.top-nav{
    position: fixed;
    top: 0;
    z-index: 999;
    height: 10%;
    background-color: rgb(0, 7, 61);
    display: flex;
    align-items: center;
}
.top-nav img {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    margin-right: 10px;
}

.top-nav__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.top-nav__wrapper .search-box {
    width: 70%;
    justify-content: start;
    background-color: rgb(45, 51, 89);
}

.top-nav__wrapper .search-box .form-group{
    width: 95%;
}
.search-box{
    display: flex;
    align-items: center;
}
.search-box label{
    display: none;
}
.search-box .form-group{
    margin: 0;
}
.profile{
    display: flex;
    justify-content:right;
    align-items: center;
}

.profile ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.profile ul li .logout-box{
    position: absolute;
    display: none;
    background-color:  rgb(0, 7, 61);
    padding: 5px;
    /* width: 100%; */
    right:0px;
    
}

.profile ul .info-box__img:hover .logout-box{
    display: flex;
  
}
.profile ul .info-box__img .logout-box li{
padding: 5px;

}
.profile ul .info-box__img .logout-box li a{
    color: white;
    text-decoration: none;
}
.profile ul .info-box__img .logout-box:hover li{
background-color:  rgb(45, 51, 89);  
}
.profile ul .info-box__img .logout-box:hover li a{
    color: white;
    }
.profile img{
    border-radius: 50%;

}
.profile span{
color: white;
padding-right: 10px;
padding-left: 10px;
}

.top-nav__right{
    width: 25%;
}

.top-nav__left{
    width: 70%;
    display: flex;
    justify-content: right;

}


